<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Sociality", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="bg-gray-100 body-bg">
    <header class="bg-indigo-900 shadow-md py-1">
        <nav role="navigation" class="mx-auto max-w-6xl flex flex-row justify-between">
            <div class="flex flex-row">
              <%= link("Posts", to: Routes.live_path(@conn, SocialityWeb.DashboardLive), class: "px-4 py-2 text-sm text-gray-400 hover:text-gray-100") %>
              <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
                <%= link("LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), class: "px-4 py-2 text-sm text-gray-400 hover:text-gray-100") %>
              <% end %>

              <div class="h-full w-full flex flex-row px-4 justify-center align-center content-center">
                <%= live_render @conn, SocialityWeb.SearchLive, id: :search %>
              </div>
            </div>

            <div class="flex flex-row">
            <%= if @current_user do %>
                <div class="px-4 py-2 text-sm text-gray-400 hover:text-gray-100">
                <%= link("Hello, #{@current_user.name}", to: user_url(@conn, @current_user), class: "px-4 py-2 text-sm text-gray-400 hover:text-gray-100") %>
                </div>
                <%= link("Logout", to: Routes.user_session_path(@conn, :delete), method: :delete, class: "px-4 py-2 text-sm text-gray-400 hover:text-gray-100") %>
            <% else %>
                <a href="/login" class="px-4 py-2 text-sm text-gray-400 hover:text-gray-100">Login</a>
            <% end %>
            </div>
        </nav>
    </header>

    <main role="main" class="px-8 py-4 min-w-3xl max-w-6xl flex flex-row mx-auto justify-between">
      <div class="w-1/6"></div>
      <div class="w-4/6 mx-2">
        <%= @inner_content %>
      </div>
      <div class="w-1/6 xs:hidden">
        <%= live_render(@conn, SocialityWeb.FriendsOnlineLive, id: :friends_online, session: %{"current_user" => @current_user}) %>
      </div>
    </main>
  </body>
</html>
